<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link href='http://fonts.useso.com/css?family=Lato:300,400,700,900' rel='stylesheet'
        type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/owl.theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/jquery.bxslider.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/magnific-popup.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/font-awesome.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/animate.css" media="screen">
    @RenderSection("styles", required: false)
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/viewAbout/css/style.css" media="screen">
    <script type="text/javascript" src="/viewAbout/js/jquery.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="/viewAbout/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="/viewAbout/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/waypoint.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/raphael-min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/DevSolutionSkill.min.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="/viewAbout/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/viewAbout/js/script.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("hscripts", required: false)
    
</head>
<body>
    <!-- Container -->
    <div id="container" class="vertical-header">
        <!-- Header
            ================================================== -->
        <header class="clearfix">
            <div class="logo">
               <a href="/photogf/index"></a>
            </div>

            <a class="elemadded responsive-link" href="#">Menu</a>

            <nav class="menu">
                <ul class="navigate-section">
                    <li><a href="/photogf/index">首页 </a></li>
                    <li><a href="/photogf/about">关于</a></li>
                    <li><a href="/photogf/portfolio">作品</a></li>
              <!--<li class="drop"><a href="#">其他<span></span></a>
                        <ul class="dropdown">
                            <li><a href="404-error.html">404 Error</a></li>
                            <li><a href="500-error.html">500 Error</a></li>
                            <li><a href="comming-soon.html">Coming Soon</a></li>
                            <li><a href="faqs.html">Faq's</a></li>
                            <li class="drop"><a href="#">Menu Level<span></span></a>
                                <ul class="dropdown">
                                    <li><a href="404-error.html">Level</a></li>
                                    <li class="drop"><a href="#">Menu Level 2<span></span></a>
                                        <ul class="dropdown">
                                            <li><a href="404-error.html">Level 2</a></li>
                                            <li><a href="comming-soon.html">Level 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>-->
                    <li><a href="/photogf/contact">联系我们</a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
            <!-- End footer -->
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <!-- End Content -->
    </div>
</body>
@RenderSection("fScripts", required: false)
</html>
