<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="alternate icon" type="image/png" href="/viewAbout/images/favicon.ico">
    <link rel="stylesheet" href="/viewAbout/css/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="/viewAbout/css/app.css" type="text/css" />
    <script src="/viewAbout/js/jquery.min.js"></script>
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header-main">
                <div class="logo">
                    <a href="#"><img src="/viewAbout/images/logo.png" alt=""></a>
                </div>
                <div class="nav">
                    <a href="/photogf/Index" class="@(ViewBag.Title=="首页"?"on":"")">首页</a>
                    <a href="/photogf/NewsList" class="@(ViewBag.Title=="新闻中心"?"on":"")">新闻中心</a>
                    <a href="/photogf/about" class="@(ViewBag.Title=="关于楚翔"?"on":"")">关于我们</a>
                    <a href="/photogf/Portfolio" class="@((ViewBag.Title=="作品案例"||ViewBag.Title=="详细页")?"on":"")">作品案例</a>
                    <a href="/Photogf/Contact" class="@(ViewBag.Title=="联系我们"?"on":"")">联系我们</a>
                </div>
            </div>
        </div>
        @RenderBody()

        <div class="footer">
            <div class="container-main">
                <div class="custom-us">
                    <a href="https://wx.qq.com/" target="_blank" class="custom-us-01"></a>
                    <a href="http://im.qq.com/pcqq/" class="custom-us-02" target="_blank"></a>
                    <a href="https://weibo.com/" class="custom-us-03" target="_blank"></a>
                    <a href="http://www.pengyou.com/" class="custom-us-04" target="_blank"></a>
                </div>
                <div class="copyright">
                    电话：13187313650 &nbsp;&nbsp;地址：湖南省长沙市芙蓉中路新时代广场南栋1025
                    <br>湘ICP备15006511号-1 &nbsp;&nbsp;版权归长沙楚翔摄影技术有限公司所有
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
